
body.toplevel_page_social-sharing-9-settings {
	min-width: 345px;
}


h1.scsh9 {
	margin: 50px 0 60px 0;
	color: #407080;
	font-weight: bold;
	font-size: 32px;
	line-height: 42px;
}

.sorting_paragraph {
	margin-bottom: 30px;
}

h2.scsh9 {
	margin-bottom: 0;
	line-height: 28px;
}

.colorpicker_container {
    position: relative;
}

.wp-picker-holder {
    position: absolute;
    top: 20px;
    z-index: 2;
}

ul#sortable {
    max-width: 500px;
}

#sortable li > * {
	float: left;
}

#sortable li {
	display: block;
	clear: both;
	overflow: visible;
	border-top: 2px solid #CCCCCC;
	background: #F2F6F7;
	padding: 10px;
	margin: 0;
	min-height: 32px;
}

#sortable li,
#sortable li label {
	cursor: initial;
}

#sortable li label {
	line-height: 22px;
	font-size: 16px;
	width: 100px;
	margin: 0 10px;
}

.wp-color-result {
	margin: 0 10px;
}


#sortable span.sortable_handle {
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 6px;
}

#sortable input[type="text"] {
	max-height: 24px;
}

input[type="checkbox"].status_checkbox {
	margin: 5px 60px 0;
}

.sortable_top_labels {
	/*margin-top: 50px;*/
}

.sortable_top_labels label {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.sortable_top_labels .name {
	min-width: 160px;
}

.sortable_top_labels .color {
	min-width: 110px;
}

.sortable_top_labels .state {
	min-width: 140px;
}

.sortable_top_labels .url {
	min-width: 130px;
}

.general_label {
	display: block;
	clear: both;
	margin: 60px 0 10px;
}

.size_options_container {
	overflow: auto;
}

.radio_container {
	float: left;
	margin-right: 30px;
}

.radio_container input {
	display: table;
	margin: 0 auto;
}

.radio_container p {
	margin: 5px auto 0;
}

button.submit {
	color: #fff;
	font-weight: bold;
	background: #2DACD6;
	border-radius: 5px;
	padding: 5px 20px;
	border: 2px solid #2DACD6;
	display: table;
	clear: both;
	margin: 50px auto 80px;
}

button.submit:hover,
button.submit:focus,
button.submit:active {
	color: #fff;
	background: #0DA6D9;
	box-shadow: 1px 1px 1px #888888;
	cursor: pointer;
}

.success_ajax,
.error_ajax {
	display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100000;
    font-size: 40px;
    padding-top: 100px;
}

.success_ajax {
	color: #37F062;
}

.error_ajax {
    color: #F03743;	
}




/**
	MEDIA QUERIES
*/


@media screen and (max-width: 782px) {

	#sortable input[type="text"] {
		max-height: initial;
		padding: 3px;
	}

	select {
	    min-height: 100px;
	}

}



@media screen and (max-width: 700px) {

	#sortable li > * {
	    /*float: none;*/
	    /*display: inline-block;*/
	}

	input.status_checkbox[type="checkbox"] {
	    margin: 5px 30px 0;
	}

}



@media screen and (max-width: 640px) {

	#sortable li {
	    min-height: 60px;
	}

}